
<!-- lx homepage--><!DOCTYPE html>
<html lang="en" ng-app="leanx.home.app"> 
  <head>
    <meta http-equiv="content-type" content="undefined; charset=UTF-8">
    <title></title>
    <link rel="stylesheet" href="./bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/leanx-theme.min.css">
    <link rel="stylesheet" href="./css/app.css">
    <!--link(rel="stylesheet", href="./bootstrap-3.3.7-dist/css/bootstrap-theme.min.css")-->
    <!-- link(rel="stylesheet", href="http://cdn.jsdelivr.net/fontawesome/4.5.0/css/font-awesome.css")-->
    <!-- link(rel="stylesheet", href="http://mgcrea.github.io/angular-strap/styles/libs.min.css")-->
    <!-- link(rel="stylesheet",href="https://cdnjs.cloudflare.com/ajax/libs/angular-xeditable/0.2.0/css/xeditable.min.css")-->
    <!-- included bootstrap-additions v0.3.1, angular-motion v0.4.4 -->
  </head>
  <body data-spy="scroll" data-target=".navbar" data-offset="50" ng-controller="leanx.home.ctrl">
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" data-toggle="collapse" data-target="#navbar" class="navbar-toggle"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a href="#" class="navbar-brand"><img src="./img/leanx-logo.png"></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="#home"> 首页</a></li>
            <li><a href="#team"> 专业团队</a></li>
            <li><a href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle"> 解决方案<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li ng-repeat="s in a.solutionSections"><a href="#{{s.id}}">{{s.title}}</a></li>
              </ul>
            </li>
            <li><a href="#contacts"> 联系方式</a></li>
            <!--li
            a.dropdown-toggle(href="#", data-toggle="dropdown",
            aria-haspopup="true",aria-expanded="false")
            	span.lang-box
            		| LANG
            		span.caret
            ul.dropdown-menu
            	li: a(href="#")  DE
            	li: a(href="#")  EN
            -->
            <!--li: a(href="#")span.glyphicon.glyphicon-console
            -->
            <!--li: a(href="#debug")  D-->
          </ul>
        </div>
      </div>
    </nav>
    <div role="main" class="container">
      <div id="home" class="section"><img src="./img/title-pic.png" class="img-responsive center-block">
        <div class="row">
          <div class="col-md-5 col-md-push-5 col-md-offset-1">
            <h1 class="text-center">{{a.slogan}}</h1>
          </div>
          <div class="col-md-5 col-md-pull-5">
            <p></p>
            <ul>
              <li ng-repeat="h in a.highlights">{{h}}</li>
            </ul>
          </div>
        </div>
      </div>
      <div id="team" class="section">
        <div class="row">
          <div class="col-md-2 col-md-offset-1"><img src="./img/pic-1.png" class="img-responsive center-block"></div>
          <div class="col-md-8">
            <h3>专业团队</h3>
            <p>{{a.teamDesc}}</p>
          </div>
        </div>
      </div>
      <div id="solutions" class="section">
        <h3>解决方案</h3>
        <div class="row">
          <div ng-repeat="s in a.solutionSections" class="col-md-4 col-xs-6">
            <div class="postcard"><a href="{{s.tag}}"><img src="{{s.icon}}">
                <div class="title">{{s.title}}</div></a></div>
          </div>
        </div>
      </div>
      <div ng-repeat="s in a.solutionSections" ng-attr-id="{{s.id}}" class="seciton">
        <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-10">
            <div class="solutions row">
              <div ng-class-odd="''" ng-class-even="'col-md-push-10'" class="col-md-2"><img src="{{s.icon}}">
                <div class="title">{{s.title}}</div>
              </div>
              <div ng-class-even="'col-md-pull-2 text-right'" ng-class-odd="''" class="solution-content col-md-10">
                <p>{{s.content}}</p>
              </div>
            </div>
          </div>
          <div class="col-md-1"></div>
        </div>
      </div>
      <div id="contacts" class="section">
        <h3>联系方式</h3>
        <div class="row">
          <div ng-repeat="c in a.contacts" class="visitcard col-md-4 col-xs-6">
            <h4> {{c.title}}</h4>
            <dl class="dl-horizontal">
              <dt>电话</dt>
              <dd>{{c.telephone}}</dd>
              <dt>电邮</dt>
              <dd>{{c.email}}</dd>
              <dt>联络人</dt>
              <dd>{{c.person}}</dd>
            </dl>
          </div>
        </div>
      </div>
      <!--#debug.row.section
      .col-xs-6
      	pre {{a | json}}
      	
      
      
      -->
    </div>
    <script src="./jquery-3.1.0/jquery-3.1.0.min.js"></script>
    <script src="./angular-1.5.8/angular.min.js"></script>
    <script src="./angular-1.5.8/angular-animate.min.js"></script>
    <script src="./bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <script src="./js/lorem.js"></script>
    <script src="./js/app.js"></script>
  </body>
</html>